{% extends "layout.html" %}
{% block pageTitle %}
  Question page
{% endblock %}

{% set restart = "start" %}

{% block content_section %}

  <!-- Question START -->
  <form class="form" {% block action %} action="work-impact" {% endblock %} method="post">
    <div class="govuk-form-group">
      <p class="govuk-body">
        Why can't you carry on
        {% block method %}
          using your car, getting a lift or a taxi{% endblock %}?
      </p>

      <!-- Text input -->
      <textarea class="govuk-textarea" id="f-whyCant" name="whyCant" rows="5" aria-describedby="f-whyCant-hint">{{ data['whyCant'] }}</textarea>
    </div>

    <button class="govuk-button" data-module="govuk-button">Continue</button>
  </form>

{% endblock %}