{% extends "layout.html" %}
{% block pageTitle %}
    Check your answers
{% endblock %}

{% set restart = "/start" %}

<!-- START Date converter -->
{% set months = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December"
] %}
<!-- END Date converter -->

{% block content_section %}
    <h1 class="govuk-heading-xl">
        Check your answers before sending your application
    </h1>

    <!-- Answers START -->

    <!-- Section 1: Personal details -->
    <h2 class="govuk-heading-m">Your conditions or disabilities</h2>

    {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [{
        
            key: { text: "Did you receive a letter from the NHS or have contact from your GP advising you to shield because of coronavirus (COVID-19)?" },

            value: { text: data['clinicallyExtremelyVulnerable'] },

            actions: { items: [{ href: "#", text: "Change",
                visuallyHiddenText: "did you receive a letter from the NHS or have contact from your GP advising you to shield because of coronavirus (COVID-19)" }]}
            },

            {
            key: { text: "What are your conditions or disabilities?" },

            value: { text: data['description'] },

            actions: { items: [{ href: "#", text: "Change",
                visuallyHiddenText: "what are your conditions or disabilities" }]}
            }

        ]})
    }}
    <!-- Section END -->

    <!-- Section 2: Your conditions or disabilities -->
    <h2 class="govuk-heading-m">
        What support you are applying for
    </h2>

    {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [{
                key: {
                    text: "Do you want some help to get to work?"
                },
                value: {
                    text: data['helpWanted']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "do you want some help to get to work"
                    }]
                }
            },

        
        {
                key: {
                    text: "How do you get to work at the moment?"
                },
                value: {
                    text: data['travelMethods']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how do you get to work at the moment"
                    }]
                }
            },

        
        {
                key: {
                    text: "Why can't you carry on using your car, getting a lift or a taxi?"
                },
                value: {
                    text: data['whyCant']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "why can't you carry on using your car, getting a lift or a taxi"
                    }]
                }
            },

        
        {
                key: {
                    text: "How often does your work travel include using your car, getting a lift or a taxi?"
                },
                value: {
                    text: data['journeyAmount'] + " " + data['journeyFrequency']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how often does your work travel include using your car, getting a lift or a taxi"
                    }]
                }
            },

        
        {
                key: {
                    text: "Why can't you carry on catching a bus or tram?"
                },
                value: {
                    text: data['whyCant']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "why can't you carry on catching a bus or tram"
                    }]
                }
            },

        
        {
                key: {
                    text: "How often does your work travel include catching a bus or tram?"
                },
                value: {
                    text: data['journeyAmount'] + " " + data['journeyFrequency']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how often does your work travel include catching a bus or tram"
                    }]
                }
            },

        
        {
                key: {
                    text: "Why can't you carry on walking or cycling?"
                },
                value: {
                    text: data['whyCant']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "why can't you carry on walking or cycling"
                    }]
                }
            },

        
        {
                key: {
                    text: "How often does your work travel include walking or cycling?"
                },
                value: {
                    text: data['journeyAmount'] + " " + data['journeyFrequency']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how often does your work travel include walking or cycling"
                    }]
                }
            },

        
        {
                key: {
                    text: "Why can't you carry on catching a train or tube?"
                },
                value: {
                    text: data['whyCant']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "why can't you carry on catching a train or tube"
                    }]
                }
            },

        
        {
                key: {
                    text: "How often does your work travel include catching a train or tube?"
                },
                value: {
                    text: data['journeyAmount'] + " " + data['journeyFrequency']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how often does your work travel include catching a train or tube"
                    }]
                }
            },

        
        {
                key: {
                    text: "Why can't you carry on "+data['travelMethodSomethingElse']+"?"
                },
                value: {
                    text: data['whyCant']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "why can't you carry on "+data['travelMethodSomethingElse']+""
                    }]
                }
            },

        
        {
                key: {
                    text: "How often does your work travel include "+data['travelMethodSomethingElse']+"?"
                },
                value: {
                    text: data['journeyAmount'] + " " + data['journeyFrequency']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how often does your work travel include "+data['travelMethodSomethingElse']+""
                    }]
                }
            },

        
        {
                key: {
                    text: "Is it impossible for you to get to and from work using any of these?"
                },
                value: {
                    text: data['unusedTravelMethods']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "is it impossible for you to get to and from work using any of these"
                    }]
                }
            },

        
        {
                key: {
                    text: "Why can't you travel by using your car, getting a lift or a taxi?"
                },
                value: {
                    text: data['whyCant']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "why can't you travel by using your car, getting a lift or a taxi"
                    }]
                }
            },

        
        {
                key: {
                    text: "Why can't you travel by catching a bus or tram?"
                },
                value: {
                    text: data['whyCant']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "why can't you travel by catching a bus or tram"
                    }]
                }
            },

        
        {
                key: {
                    text: "Why can't you travel by walking or cycling?"
                },
                value: {
                    text: data['whyCant']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "why can't you travel by walking or cycling"
                    }]
                }
            },

        
        {
                key: {
                    text: "Why can't you travel by catching a train or tube?"
                },
                value: {
                    text: data['whyCant']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "why can't you travel by catching a train or tube"
                    }]
                }
            },

        
        {
                key: {
                    text: "Does your condition make it harder for you to do your job?"
                },
                value: {
                    text: data['jobHarder']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "does your condition make it harder for you to do your job"
                    }]
                }
            },

        
        {
                key: {
                    text: "Tell us how it is harder"
                },
                value: {
                    text: data['harderHow']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "tell us how it is harder"
                    }]
                }
            },

        
        {
                key: {
                    text: "Do you do anything to get around these problems at the moment?"
                },
                value: {
                    text: data['getAroundProblems']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "do you do anything to get around these problems at the moment"
                    }]
                }
            },

        
        {
                key: {
                    text: "Tell us what you do"
                },
                value: {
                    text: data['problemSolutions']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "tell us what you do"
                    }]
                }
            },

        
        {
                key: {
                    text: "Do you know what you need to help you with this?"
                },
                value: {
                    text: data['knowWhatWouldHelp']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "do you know what you need to help you with this"
                    }]
                }
            },

        
        {
                key: {
                    text: "Tell us what would help you"
                },
                value: {
                    text: data['whatWouldHelp']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "tell us what would help you"
                    }]
                }
            }
        ]})
    }}

    <!-- Section END -->

    <!-- Section 3: Your employment details -->
    <h2 class="govuk-heading-m">Your employment details</h2>

    {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [{
                key: {
                    text: "Employment status"
                },
                value: {
                    text: data['howEmployed']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "employment status"
                    }]
                }
            },

        
        {
                key: {
                    text: "Job title"
                },
                value: {
                    text: data['jobTitle']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "job title"
                    }]
                }
            },

        
        {
                key: {
                    text: "Employer"
                },
                value: {
                    text: data['employer']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "employer"
                    }]
                }
            },

        
        {
                key: {
                    text: "Address"
                },
                value: {
                    text: data['address-1']+", "+data['address-2']+", "+data['address-3']+", "+data['address-4']+", "+data['address-postcode']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "address"
                    }]
                }
            },

        
        {
                key: {
                    text: "How long have you been in your current job or role?"
                },
                value: {
                    text: data['currentRoleDuration']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how long have you been in your current job or role"
                    }]
                }
            },

        
        {
                key: {
                    text: "Work start date"
                },
                value: {
                    text: (data['startDateMoreThan6Weeks-dd']+" "+
                    months[data['startDateMoreThan6Weeks-mm']-1]+" "+
                    data['startDateMoreThan6Weeks-yyyy'] if data['startDateMoreThan6Weeks-dd'])
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "work start date"
                    }]
                }
            },

        
        {
                key: {
                    text: "How many days a week do you usually work?"
                },
                value: {
                    text: data['daysPerWeek']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how many days a week do you usually work"
                    }]
                }
            },

        
        {
                key: {
                    text: "How many hours a week do you usually work?"
                },
                value: {
                    text: data['hoursPerWeek']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how many hours a week do you usually work"
                    }]
                }
            },

        
        {
                key: {
                    text: "Your workplace contact"
                },
                value: {
                    text: (data['workContactName']+"\n"+data['workContactEmail']+"\n"+data['workContactNumber'] if (data['workContactName'] or data['workContactEmail'] or data['workContactNumber']))
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "your workplace contact"
                    }]
                }
            }
        ]})
    }}

    <!-- Section END -->

    <!-- Section 4: Your personal details -->
    <h2 class="govuk-heading-m">Your personal details</h2>

    {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-0',
        rows: [{
                key: {
                    text: "Name"
                },
                value: {
                    text: (data['firstName']+" "+data['lastName'] if (data['firstName'] or data['lastName']))
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "name"
                    }]
                }
            },

        
        {
                key: {
                    text: "Date of birth"
                },
                value: {
                    text: (data['dob-dd']+" "+
                    months[data['dob-mm']-1]+" "+
                    data['dob-yyyy'] if data['dob-dd'])
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "date of birth"
                    }]
                }
            },

        
        {
                key: {
                    text: "Address"
                },
                value: {
                    html: (data['address-line-1']+"<br/>"+(data['address-line-2']+"<br/>" if data['address-line-2'])+data['address-town']+"<br/>"+data['address-county']+"<br/>"+data['address-postcode'])
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "address"
                    }]
                }
            },

        
        {
                key: {
                    text: "Who do you want to be contacted about your condition award or application?"
                },
                value: {
                    text: data['contact']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "who do you want to be contacted about your condition award or application"
                    }]
                }
            }
        ]})
    }}

    <!-- IF Contact: Me -->
    {% if data['contact'] == "Yourself" %}
        {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [{
                key: {
                    text: "Your email"
                },
                value: {
                    text: data['contact-by-email']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "your email"
                    }]
                }
            },
            
            {
                key: {
                    text: "Your phone number"
                },
                value: {
                    text: data['contact-by-phone']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "your phone number"
                    }]
                }
            }
        ]})
    }}

        <!-- IF Contact: Someone else -->
    {% else %}
        {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [{
                key: {
                    text: "Contact name"
                },
                value: {
                    text: data['f-representativeName']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "contact name"
                    }]
                }
            },

        
        {
                key: {
                    text: "Contact phone number"
                },
                value: {
                    text: data['f-representativeNumber']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "contact phone number"
                    }]
                }
            },

        
        {
                key: {
                    text: "Relationship with contact"
                },
                value: {
                    text: data['f-representativeRelationship']
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "relationship with contact"
                    }]
                }
            }
        ]})
    }}
    {% endif %}

    <!-- Section END -->

    <!-- Answers END -->

    <!-- <h2 class="govuk-heading-m">Now send your application</h2> -->

    <p>
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
    </p>

    <form action="declaration" method="post" novalidate="novalidate">
        <input type="hidden" name="answers-checked" value="true"/>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </form>
{% endblock %}