{% extends "layout.html" %}
{% block pageTitle %}
  Question page
{% endblock %}

{% set restart = "start" %}
{% set backto = "condition" %}

{% block content_section %}

  <form class="form" action="help-with-travel-answer" method="post">
    <!-- Radios -->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <!-- Question -->
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Do you want some help to get to work?
          </h1>
        </legend>

        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <!-- Option 1-->
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="f-helpWanted" name="helpWanted" type="radio" value="yes" data-aria-controls="conditional-f-helpWanted" {{checked(
              "helpWanted" , "yes" ) }} ​="​">
            <label class="govuk-label govuk-radios__label" for="helpWanted">
              Yes I want help
            </label>
          </div>

          <!-- Option 1 options -->
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-f-helpWanted">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="travel-help-options-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  How do you get to work at the moment?
                </legend>
                <div id="travel-help-options-hint" class="govuk-hint">
                  Tick all that apply.
                </div>

                <div class="govuk-checkboxes" id="f-travelMethods-wrapper" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="f-travelMethods" name="travelMethods[]" type="checkbox" value="car-lift-taxi"/>
                    <label class="govuk-label govuk-checkboxes__label" for="f-travelMethods">
                      Car, lift or taxi
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="f-travelMethods-2" name="travelMethods[]" type="checkbox" value="bus-tram"/>
                    <label class="govuk-label govuk-checkboxes__label" for="f-travelMethods-2">
                      Bus or tram
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="f-travelMethods-3" name="travelMethods[]" type="checkbox" value="walking or cycling"/>
                    <label class="govuk-label govuk-checkboxes__label" for="f-travelMethods-3">
                      Walking or cycling
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="f-travelMethods-4" name="travelMethods[]" type="checkbox" value="train-tube"/>
                    <label class="govuk-label govuk-checkboxes__label" for="f-travelMethods-4">
                      Train or tube
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="f-travelMethods-5" name="travelMethods[]" type="checkbox" value="other" data-ga-question="How do you get to work at the moment?" data-ga-answer="Something else" aria-controls="conditional-f-travelMethods-5"/>
                    <label class="govuk-label govuk-checkboxes__label" for="travel-help-options-5">
                      Something else
                    </label>
                  </div>

                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-f-travelMethods-5">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="f-travelMethodSomethingElse">
                        What?
                      </label>
                      <input class="govuk-input" id="f-travelMethodSomethingElse" name="travelMethodSomethingElse" type="text" spellcheck="false"/>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <!-- Option 2-->
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="helpWanted-2" name="helpWanted" type="radio" value="no" ​="​" {{ checked(
              "helpWanted" , "no" ) }}>
            <label class="govuk-label govuk-radios__label" for="helpWanted-2">
              No, I can get to work ok
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <!-- Question END -->

    <button class="govuk-button" data-module="govuk-button">Continue</button>
  </form>

{% endblock %}