{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content_section %}

  <h1 class="govuk-heading-xl">You won't get an Access to Work grant</h1>

  <p>An Access to Work grant can only pay for help with:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>managing difficulties caused by your condition that make it harder for you to do your job</li>
    <li>travelling to or from work</li>
  </ul>

  <p>You may be
    <a href="https://www.gov.uk/benefits-calculators">eligible for other benefits</a>.</p>

  <button class="govuk-button" data-module="govuk-button">Return to GOV.UK</button>

{% endblock %}