<!-- PLACEHOLDER ANSWERS -->

<!-- START Placeholder information -->
{% set clinicallyExtremelyVulnerable = "Yes" %}
{% set condition = "I am registered blind" %}
{% set helpWanted = "Yes I want help" %}
{% set travelMethods = "Bus or tram" %}
{% set whyCantBus = "I am registered blind and have recently been told that our office is moving  to a business park that is not served by public transport.  Getting taxi's every day would cost me more than it is worth for me to work" %}
{% set journeyAmountBus = "8 times a week" %}
{% set unusedTravelMethods = "<p>Bus or tram</p><p>Walking or cycling</p><p>Train or tube</p>" | safe %}
{% set whyImpossibleBus = "I am registered blind and have recently been told that our office is moving to a business park that is not served by public transport. Getting taxi's every day would cost me more than it is worth for me to work" %}
{% set whyImpossibleWalk = "Because I'm blind so can't ride a bike. The office is 8 miles from my home and too far to walk" %}
{% set whyImpossibleTrain = "My office is not on a train or tube line" %}
{% set jobHarder = "Yes" %}
{% set harderHow = "I can't see what I'm inputting into the computer" %}
{% set getAroundProblems = "Yes" %}
{% set problemSolutions = "I use Dragon voice software when working at my computer" %}
{% set knowWhatWouldHelp = "Yes" %}
{% set whatWouldHelp = "My current version of Dragon is four years old. I would like to update it if possible" %}
{% set howEmployed = "Employed" %}
{% set jobTitle = "Hospital Accountant" %}
{% set employer = "Some Hospital" %}
{% set workAddress = "85 Caxton Place<br/>Kinton<br/>Pemshire<br/>KT1 6BN" | safe %}
{% set currentRoleDuration = "More than 6 weeks" %}
{% set workStartDate = "12 September 2018" %}
{% set daysPerWeek = "5 days a week" %}
{% set hoursPerWeek = "40 hours a week" %}
{% set workContact = "<p>Bob Hoskins</p><p>07654123456</p><p>bob.hoskins@simplybiz.com</p>" | safe %}
<!-- END Placeholder information -->