{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content_section %}

  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">Your application has been received</h1>
    <div class="govuk-panel__body">
      Your application reference is<br>
      <strong>HDJ2123F</strong>
    </div>
  </div>

  <p>

{% if not data['contactPrefs']%}We've sent a confirmation text message to xxxx xxx xxx.{% else %}
  {% include "./confirmation-contact.html" %}{% endif %}





  </p>

  <h2 class="govuk-heading-m">What happens next</h2>
  <p>The Access to Work Team will contact you or your representative about your application within the next 4 weeks. </p>

  <p>
    <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html" target="_blank">What did you think of this service?</a>
    (opens in a new tab)</p>




{% endblock %}
