{% extends "layout.html" %}
{% block pageTitle %}
  Question page
{% endblock %}

{% set restart = "start" %}
{% set backto = "work" %}

{% block content_section %}

  <form class="form" action="personal-details" method="post">
    <!-- Question -->
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">Your workplace contact</h1>
    </legend>

    <div class="govuk-form-group">
      <label class="govuk-label" for="f-workContactName">
        Their name
      </label>
      <input class="govuk-input govuk-!-width-one-half" id="f-workContactName" name="workContactName" type="text" value="{{ data['workContactName'] }}"/>
    </div>

    <p>
      This should be someone who can authorise payment for the items and services in your support offer.
    </p>

    <p>
      We won't contact them until we've spoken to you first.
    </p>

    <!-- Contact details -->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="workContactPrefs-hint">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--s" for="workContactPrefs">
            How can we contact them?
          </label>
        </h1>

        <div id="workContactPrefs-hint" class="govuk-hint">
          Select as many as you like:
        </div>

        <div class="govuk-checkboxes" id="f-workContactPrefs-wrapper" data-module="govuk-checkboxes">

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="f-workContactPrefs" name="workContactPrefs[]" type="checkbox" value="email" data-aria-controls="conditional-f-workContactPrefs"/>
            <label class="govuk-label govuk-checkboxes__label" for="f-workContactPrefs">
              Email
            </label>
          </div>

          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-f-workContactPrefs">
            <div class="govuk-form-group">
              <label class="govuk-label" for="f-workContactEmail">
                Email address
              </label>
              <input class="govuk-input govuk-!-width-one-half" id="f-workContactEmail" name="workContactEmail" type="email" spellcheck="false" value="{{ data['workContactEmail'] }}"/>
            </div>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="workContactPrefs-2" name="workContactPrefs[]" type="checkbox" value="phone" data-aria-controls="conditional-workContactPrefs-2"/>
            <label class="govuk-label govuk-checkboxes__label" for="workContactPrefs-2">
              Phone
            </label>
          </div>

          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-workContactPrefs-2">
            <div class="govuk-form-group">
              <label class="govuk-label" for="f-workContactNumber">
                Phone number
              </label>
              <input class="govuk-input govuk-!-width-one-half" id="f-workContactNumber" name="workContactNumber" type="tel" value="{{ data['workContactNumber'] }}"/>
            </div>
          </div>

        </div>

      </fieldset>
    </div>
    <!-- Question END -->

    {{ govukButton({ text: "Continue" }) }}
  </form>

{% endblock %}