{% extends "layout.html" %} {% block pageTitle %} {% endblock %}  {% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl"></h1>

		<h2 class="govuk-heading-m">Prototypes </h2>

		<ul class="govuk-list govuk-list--bullet">
			<li>
				<a href="./accessibility-statement/statement-apply.html">Accessibility statement apply – GB</a>
			</li>
			<li>
				<a href="./accessibility-statement/statement-csi.html">Accessibility statement CSI – GB</a>
			</li>
			<li>
				<a href="./accessibility-statement/statement-renew.html">Accessibility statement renew – GB</a>
			</li>

			<!-- <li>
				<a href="current/statement-ni.html">Accessibility statement – NI</a>
			</li> -->

		</ul>
	</div>
</div>

{% endblock %}
