{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% set restart = "/" %}
{% set backto = "/contact/phone" %}

{% block content_section %}

  <form class="form" action="/contact/check-your-answers" method="post">

    <fieldset class="govuk-fieldset">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          What’s your email address?
        </h1>
      </legend>

      <p>We’ll use this to confirm we have received your application.</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="yourEmail2-1"></label>
        <input class="govuk-input" id="yourEmail2-1" name="yourEmail2-1" type="text" autocomplete="yourEmail2-1" value="{{ data['yourEmail2-1'] }}"></div>

      <p>
        <a href="">I do not have an email address</a>
      </p>
    </fieldset>

    {{ govukButton({ text: "Continue" }) }}
  </form>

{% endblock %}