{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/contact/email">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/contact/option-phone-answer" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Can we also contact you by a phone call?
            </h1>
          </legend>

          <p>We’ll only do this if we cannot reach you by email.</p>

    <div class="govuk-radios">
      <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="option-phone-yes" name="option-phone" type="radio" value="true">
        <label class="govuk-label govuk-radios__label" for="option-phone-yes">
      Yes
        </label>
    </div>

    <div class="govuk-radios">
      <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="option-phone-yes" name="option-phone" type="radio" value="false">
        <label class="govuk-label govuk-radios__label" for="option-phone-yes">
      No
        </label>
    </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
