{% extends "layout.html" %}
{% block pageTitle %}
  Question page
{% endblock %}

{% set backto = "/contact/personal-details" %}

{% block content_section %}

  <!-- Form START -->
  <form class="form" action="/contact/who-contact" method="post">

    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset">

        <!-- ABOUT YOU -->
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">About you</h1>
        </legend>

        <!-- YOUR NAME -->
        <div class="govuk-form-group govuk-!-margin-bottom-8">
          <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
              <label class="govuk-label" for="f-firstName">
                First name
              </label>
              <input class="govuk-input govuk-!-width-one-half" id="f-firstName" name="firstName" type="text" value="{{ data['firstname'] }}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="f-lastName">
                Last name
              </label>
              <input class="govuk-input govuk-!-width-one-half" id="f-lastName" name="lastName" type="text" value="{{ data['lastname'] }}"/>
            </div>
          </fieldset>
        </div>

        <!-- DATE OF BIRTH -->
        <div class="govuk-form-group govuk-!-margin-bottom-8">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Date of birth</legend>

            <div id="dob-hint" class="govuk-hint">
              For example, 31 3 1980
            </div>
            <div class="govuk-date-input" id="dob">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="f-dob-dd">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="f-dob-dd" name="dob-dd" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['dob-dd'] }}"/>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="f-dob-mm">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-mm" name="dob-mm" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['dob-mm'] }}"/>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="f-dob-yyyy">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="f-dob-yyyy" name="dob-yyyy" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['dob-yyyy'] }}"/>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <!-- YOUR ADDRESS -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset apply-address">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Home address
            </legend>

            <div class="govuk-form-group">
              <label class="govuk-label" for="your-address-1">
                Building and street
                <span class="govuk-visually-hidden">line 1 of 2</span>
              </label>
              <input class="govuk-input" id="your-address-1" name="your-address-1" type="text" value="{{ data['your-address-line-1'] }}"/>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="your-address-2">
                <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
              </label>
              <input class="govuk-input" id="your-address-2" name="your-address-2" type="text" value="{{ data['your-address-line-2'] }}"/>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="your-address-3">
                Town or city
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="your-address-3" name="your-address-3" type="text" value="{{ data['your-address-line-3'] }}"/>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="your-address-4">
                County
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="your-address-4" name="your-address-4" type="text" value="{{ data['your-address-line-4'] }}"/>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="your-address-postcode">
                Postcode
              </label>
              <input class="govuk-input govuk-input--width-10" id="your-address-postcode" name="your-address-postcode" type="text" value="{{ data['your-address-postcode'] }}"/>
            </div>
          </fieldset>
        </div>
      </fieldset>
    </div>
    <!-- Question END -->

    {{ govukButton({ text: "Continue" }) }}
  </form>

{% endblock %}