{% extends "layout.html" %} {% block pageTitle %} Question page {% endblock %}
{% block content_section %}

<form class="form" action="/help-with-travel" method="post">
  <!-- Question -->
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Does your condition make it harder for you to do your job?
    </h1>
  </legend>

  <div class="govuk-form-group">
    <!-- Text input -->
    <input
      class="govuk-input"
      id="f-description"
      name="description"
      type="text"
      value="{{ data['description'] }}"
    />
  </div>
  <!-- Question END -->

  {{ govukButton({ text: "Continue" }) }}
</form>

{% endblock %}
