{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Access to Work<br/>
    Prototypes
    <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
  </h1>
  <!-- {{releaseVersion | log }} -->
  <p class="govuk-!-padding-bottom-6">
    These are the latest prototypes for the application journey that citizens follow to apply for Access to Work benefits.
  </p>

  <div class="govuk-!-padding-bottom-9">

    <h2 class="govuk-heading-s">Main prototype</h2>

    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-3">
      <li>
        Full application journey
        <a href="/main/start.html" class="govuk-!-margin-left-3">View prototype</a>
      </li>
    </ul>

    <h2 class="govuk-heading-s">Test prototypes</h2>

    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4">
      <li>
        UR session 1 (Contact info 1)
        <a href="/contact/start.html" class="govuk-!-margin-left-3">View prototype</a>
      </li>
      <li>
        UR session 2 (Contact info 2)
        <a href="/contact2/start.html" class="govuk-!-margin-left-3">View prototype</a>
      </li>
    </ul>

  </div>

  <div>

    <p>For reference only:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
      </li>
      <li>
        <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
      </li>
    </ul>
  </div>

{% endblock %}