{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <!-- Question START -->
      <h1 id="question" class="govuk-heading-xl">Sorry, you'll have to start again</h1>

      <p>You haven't entered any details for 30 minutes, so we've cleared your information to keep it secure.</p>

      <button class="govuk-button" data-module="govuk-button">Start again</button>

    </div>
  </div>

{% endblock %}