{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Get support in work if you have a disability or health condition (Access to Work)
      </h1>

      <h2 class="govuk-heading-m">Apply</h2>

      <p><a href="https://www.gov.uk/access-to-work/eligibility">Check you’re eligible</a> before you apply.</p>

      <p>You can apply for Access to Work online or by phone.</p>

      <p>You’ll need to provide:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your workplace address and postcode</li>
        <li>the name of a workplace contact who can authorise your Access to Work payments</li>
        <li>your workplace contact’s email address or work phone number</li>
        <li>your unique tax reference number (if you’re self-employed)</li>
      </ul>

      <p>You’ll also need to explain:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>how your condition affects you at work or getting to work</li>
        <li>what help you’re already getting</li>
        <li>what else could help you</li>
      </ul>

      <p>It will help your application if you’ve spoken to your employer about <a href="https://www.gov.uk/reasonable-adjustments-for-disabled-workers">reasonable adjustments</a> before you apply for Access to Work.</p>

      <!-- Button -->

      <a href="/clinically-extremely-vulnerable" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Apply online
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <!-- Button END -->

      <p>You can apply by calling the Access to Work helpline. Make sure you have all the necessary details with you when you call.</p>

      <h2 class="govuk-heading-s">Access to Work helpline</h2>

      <p>Telephone: 0800 121 7479<br>
      Textphone: 0800 121 7579<br>
      <a href="">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 7479<br>
      Monday to Friday, 9am to 5pm<br>
      <a href="">Find out about call charges</a></p>

      <h2 class="govuk-heading-s">British Sign Language (BSL) video relay service</h2>
      
      <p>To use this you must:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>first <a href="">check you can use the service</a></li>
        <li><a href="">go to the video relay service</a></li>
      </ul>

      <p>Monday to Friday, 9am to 5pm</p>

      <h2 class="govuk-heading-s">Alternative formats</h2>

      <p>Call the Access to Work number to ask for alternative formats, such as braille, large print or audio CD.</p>

      <h2 class="govuk-heading-m">Complaints</h2>

      <p>You can contact Access to Work to complain if you are not happy with how your case has been handled.</p>

    </div>

    <!-- Right hand column -->

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
