{% extends "layout.html" %}
{% block pageTitle %}
  Question page
{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content_section %}

  <form class="form" action="/work-contact" method="post">
    <!-- Radios -->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <!-- Question -->
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            How long have you been in your current job or role?
          </h1>
        </legend>

        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

          <!-- Option 1 -->
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="f-currentRoleDuration" name="currentRoleDuration" type="radio" value="More than 6 Weeks" data-ga-question="How long have you been in your current job or role?" data-ga-answer="More than 6 weeks" {{ checked( "currentRoleDuration" , "More than 6 Weeks" ) }} data-aria-controls="conditional-f-currentRoleDuration">
            <label class="govuk-label govuk-radios__label" for="currentRoleDuration">
              More than 6 weeks
            </label>
          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-f-currentRoleDuration">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="startDateMoreThan6Weeks-hint">
                <legend class="govuk-fieldset__legend">Work start date</legend>
                <div id="startDateMoreThan6Weeks-hint" class="govuk-hint">
                  For example, 31 3 1980
                </div>
                <div class="govuk-date-input" id="startDateMoreThan6Weeks">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="f-startDateMoreThan6Weeks-dd">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="f-startDateMoreThan6Weeks-dd" name="startDateMoreThan6Weeks-dd" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['startDateMoreThan6Weeks-dd'] }}"/>
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="f-startDateMoreThan6Weeks-mm">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="f-startDateMoreThan6Weeks-mm" name="startDateMoreThan6Weeks-mm" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['startDateMoreThan6Weeks-mm'] }}"/>
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="f-startDateMoreThan6Weeks-yyyy">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="f-startDateMoreThan6Weeks-yyyy" name="startDateMoreThan6Weeks-yyyy" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['startDateMoreThan6Weeks-yyyy'] }}"/>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <!-- Option 2 -->
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="currentRoleDuration-2" name="currentRoleDuration" type="radio" value="no" ​="​" {{
                checked( "currentRoleDuration" , "no" ) }} data-aria-controls="conditional-currentRoleDuration-2">
            <label class="govuk-label govuk-radios__label" for="currentRoleDuration-2">
              Less than 6 weeks
            </label>
          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-currentRoleDuration-2">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="startDateLessThan6Weeks-hint">
                <legend class="govuk-fieldset__legend">Work start date</legend>
                <div id="startDateLessThan6Weeks-hint" class="govuk-hint">
                  For example, 31 3 1980
                </div>
                <div class="govuk-date-input" id="passport-issued">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="f-startDateLessThan6Weeks-dd">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="f-startDateLessThan6Weeks-dd" name="f-startDateLessThan6Weeks-dd" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['startDateLessThan6Weeks-dd'] }}"/>
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="f-startDateLessThan6Weeks-mm">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="f-startDateLessThan6Weeks-mm" name="f-startDateLessThan6Weeks-mm" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['startDateLessThan6Weeks-mm'] }}"/>
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="f-startDateLessThan6Weeks-yyyy">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="f-startDateLessThan6Weeks-yyyy" name="f-startDateLessThan6Weeks-yyyy" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['startDateLessThan6Weeks-yyyy'] }}"/>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <!-- Option 3 -->
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="covid-letter-3" name="currentRoleDuration" type="radio" value="no" ​="​" {{
                checked( "currentRoleDuration" , "no" ) }} data-aria-controls="conditional-currentRoleDuration-3">
            <label class="govuk-label govuk-radios__label" for="currentRoleDuration-3">
              You have not started yet
            </label>
          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-currentRoleDuration-3">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="startDateNotStarted-hint">
                <legend class="govuk-fieldset__legend">Work start date</legend>
                <div id="startDateNotStarted-hint" class="govuk-hint">
                  For example, 31 3 1980
                </div>
                <div class="govuk-date-input" id="passport-issued">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="f-startDateNotStarted-dd">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="f-startDateNotStarted-dd" name="f-startDateNotStarted-dd" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['startDateNotStarted-dd'] }}"/>
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="f-startDateNotStarted-mm">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="f-startDateNotStarted-mm" name="f-startDateNotStarted-mm" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['startDateNotStarted-mm'] }}"/>
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="f-startDateNotStarted-yyyy">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="f-startDateNotStarted-yyyy" name="f-startDateNotStarted-yyyy" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['startDateNotStarted-yyyy'] }}"/>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="f-daysPerWeek">
        How many days a week do you usually work?
      </label>
      <input class="govuk-input govuk-input--width-2" id="f-daysPerWeek" name="daysPerWeek" type="text" value="{{ data['daysPerWeek'] }}"/>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="f-hoursPerWeek">
        How many hours a week do you usually work?
      </label>
      <div id="f-hoursPerWeek-hint" class="govuk-hint">
        If your hours change from week to week you can put a range,
        <abbr title="for example">eg</abbr>
        between 35 and 40 hours a week
      </div>
      <input class="govuk-input govuk-input--width-3" id="f-hoursPerWeek" name="hoursPerWeek" type="text" value="{{ data['hoursPerWeek'] }}"/>
    </div>
    <!-- Question END -->

    <button class="govuk-button" data-module="govuk-button">Continue</button>
  </form>

{% endblock %}