{% extends "layout.html" %}
{% block pageTitle %}
    Check your answers
{% endblock %}

{% set restart = "/" %}

<!-- START Date converter -->
{% set months = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December"
] %}
<!-- END Date converter -->

<!-- START Placeholder information -->
{% set clinicallyExtremelyVulnerable = "Yes" %}
{% set condition = "I am registered blind" %}
{% set helpWanted = "Yes I want help" %}
{% set travelMethods = "Bus or tram" %}
{% set whyCantBus = "I am registered blind and have recently been told that our office is moving  to a business park that is not served by public transport.  Getting taxi's every day would cost me more than it is worth for me to work" %}
{% set journeyAmountBus = "8 times a week" %}
{% set unusedTravelMethods = "<p>Bus or tram</p><p>Walking or cycling</p><p>Train or tube</p>" | safe %}
{% set whyImpossibleBus = "I am registered blind and have recently been told that our office is moving to a business park that is not served by public transport. Getting taxi's every day would cost me more than it is worth for me to work" %}
{% set whyImpossibleWalk = "Because I'm blind so can't ride a bike. The office is 8 miles from my home and too far to walk" %}
{% set whyImpossibleTrain = "My office is not on a train or tube line" %}
{% set jobHarder = "Yes" %}
{% set harderHow = "I can't see what I'm inputting into the computer" %}
{% set getAroundProblems = "Yes" %}
{% set problemSolutions = "I use Dragon voice software when working at my computer" %}
{% set knowWhatWouldHelp = "Yes" %}
{% set whatWouldHelp = "My current version of Dragon is four years old. I would like to update it if possible" %}
{% set howEmployed = "Employed" %}
{% set jobTitle = "Hospital Accountant" %}
{% set employer = "Some Hospital" %}
{% set workAddress = "85 Caxton Place<br/>Kinton<br/>Pemshire<br/>KT1 6BN" | safe %}
{% set currentRoleDuration = "More than 6 weeks" %}
{% set workStartDate = "12 September 2018" %}
{% set daysPerWeek = "5 days a week" %}
{% set hoursPerWeek = "40 hours a week" %}
{% set workContact = "<p>Bob Hoskins</p><p>07654123456</p><p>bob.hoskins@simplybiz.com</p>" | safe %}
<!-- END Placeholder information -->

{% block content_section %}
    <h1 class="govuk-heading-xl">
        Check your answers before sending your application
    </h1>

    <!-- Answers START -->

    <!-- Section 1: Personal details -->
    <h2 class="govuk-heading-m">Your conditions or disabilities</h2>

    {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [{
        
            key: { text: "Did you receive a letter from the NHS or have contact from your GP advising you to shield because of coronavirus (COVID-19)?" },

            value: { text: clinicallyExtremelyVulnerable },

            actions: { items: [{ href: "#", text: "Change",
                visuallyHiddenText: "did you receive a letter from the NHS or have contact from your GP advising you to shield because of coronavirus (COVID-19)" }]}
            },

            {
            key: { text: "What are your conditions or disabilities?" },

            value: { text: condition },

            actions: { items: [{ href: "#", text: "Change",
                visuallyHiddenText: "what are your conditions or disabilities" }]}
            }

        ]})
    }}
    <!-- Section END -->

    <!-- Section 2: Your conditions or disabilities -->
    <h2 class="govuk-heading-m">
        What support you are applying for
    </h2>

    {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [{
                key: {
                    text: "Do you want some help to get to work?"
                },
                value: {
                    text: helpWanted
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "do you want some help to get to work"
                    }]
                }
            },
            
            {
                key: {
                    text: "How do you get to work at the moment?"
                },
                value: {
                    text: travelMethods
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how do you get to work at the moment"
                    }]
                }
            },
            
            ({
                key: {
                    text: "Why can't you carry on using your car, getting a lift or a taxi?"
                },
                value: {
                    text: whyCantCar
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "why can't you carry on using your car, getting a lift or a taxi"
                    }]
                }
            },
            
            {
                key: {
                    text: "How often does your work travel include using your car, getting a lift or a taxi?"
                },
                value: {
                    text: journeyAmountCar
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how often does your work travel include using your car, getting a lift or a taxi"
                    }]
                }
            } if journeyAmountCar),
            
            {
                key: {
                    text: "Why can't you carry on catching a bus or tram?"
                },
                value: {
                    text: whyCantBus
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "why can't you carry on catching a bus or tram"
                    }]
                }
            },
            
            {
                key: {
                    text: "How often does your work travel include catching a bus or tram?"
                },
                value: {
                    text: journeyAmountBus
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how often does your work travel include catching a bus or tram"
                    }]
                }
            },
            
            ({
                key: {
                    text: "Why can't you carry on walking or cycling?"
                },
                value: {
                    text: whyCantWalk
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "why can't you carry on walking or cycling"
                    }]
                }
            },
            
            {
                key: {
                    text: "How often does your work travel include walking or cycling?"
                },
                value: {
                    text: journeyAmountWalk
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how often does your work travel include walking or cycling"
                    }]
                }
            } if journeyAmountWalk),
            
            ({
                key: {
                    text: "Why can't you carry on catching a train or tube?"
                },
                value: {
                    text: whyCantTrain
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "why can't you carry on catching a train or tube"
                    }]
                }
            },
            
            {
                key: {
                    text: "How often does your work travel include catching a train or tube?"
                },
                value: {
                    text: journeyAmountTrain
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how often does your work travel include catching a train or tube"
                    }]
                }
            } if journeyAmountTrain),
            
            ({
                key: {
                    text: "Why can't you carry on "+data['travelMethodSomethingElse']+"?"
                },
                value: {
                    text: whyCantOther
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "why can't you carry on "+data['travelMethodSomethingElse']+""
                    }]
                }
            },
            
            {
                key: {
                    text: "How often does your work travel include "+data['travelMethodSomethingElse']+"?"
                },
                value: {
                    text: journeyAmountOther
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how often does your work travel include "+data['travelMethodSomethingElse']+""
                    }]
                }
            } if journeyAmountOther),
            
            {
                key: {
                    text: "Is it impossible for you to get to and from work using any of these?"
                },
                value: {
                    text: unusedTravelMethods
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "is it impossible for you to get to and from work using any of these"
                    }]
                }
            },
            
            ({
                key: {
                    text: "Why can't you travel by using your car, getting a lift or a taxi?"
                },
                value: {
                    text: whyImpossibleCar
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "why can't you travel by using your car, getting a lift or a taxi"
                    }]
                }
            } if whyImpossibleCar),
            
            {
                key: {
                    text: "Why can't you travel by catching a bus or tram?"
                },
                value: {
                    text: whyImpossibleBus
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "why can't you travel by catching a bus or tram"
                    }]
                }
            },
            
            {
                key: {
                    text: "Why can't you travel by walking or cycling?"
                },
                value: {
                    text: whyImpossibleWalk
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "why can't you travel by walking or cycling"
                    }]
                }
            },
            
            {
                key: {
                    text: "Why can't you travel by catching a train or tube?"
                },
                value: {
                    text: whyImpossibleTrain
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "why can't you travel by catching a train or tube"
                    }]
                }
            },
            
            {
                key: {
                    text: "Does your condition make it harder for you to do your job?"
                },
                value: {
                    text: jobHarder
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "does your condition make it harder for you to do your job"
                    }]
                }
            },
            
            {
                key: {
                    text: "Tell us how it is harder"
                },
                value: {
                    text: harderHow
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "tell us how it is harder"
                    }]
                }
            },
            
            {
                key: {
                    text: "Do you do anything to get around these problems at the moment?"
                },
                value: {
                    text: getAroundProblems
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "do you do anything to get around these problems at the moment"
                    }]
                }
            },
            
            {
                key: {
                    text: "Tell us what you do"
                },
                value: {
                    text: problemSolutions
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "tell us what you do"
                    }]
                }
            },
            
            {
                key: {
                    text: "Do you know what you need to help you with this?"
                },
                value: {
                    text: knowWhatWouldHelp
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "do you know what you need to help you with this"
                    }]
                }
            },
            
            {
                key: {
                    text: "Tell us what would help you"
                },
                value: {
                    text: whatWouldHelp
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "tell us what would help you"
                    }]
                }
            }
        ]})
    }}

    <!-- Section END -->

    <!-- Section 3: Your employment details -->
    <h2 class="govuk-heading-m">Your employment details</h2>

    {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [{
                key: {
                    text: "Employment status"
                },
                value: {
                    text: howEmployed
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "employment status"
                    }]
                }
            },
            
            {
                key: {
                    text: "Job title"
                },
                value: {
                    text: jobTitle
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "job title"
                    }]
                }
            },
            
            {
                key: {
                    text: "Employer"
                },
                value: {
                    text: employer
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "employer"
                    }]
                }
            },
            
            {
                key: {
                    text: "Address"
                },
                value: {
                    text: workAddress
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "address"
                    }]
                }
            },
            
            {
                key: {
                    text: "How long have you been in your current job or role?"
                },
                value: {
                    text: currentRoleDuration
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how long have you been in your current job or role"
                    }]
                }
            },
            
            {
                key: {
                    text: "Work start date"
                },
                value: {
                    text: workStartDate
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "work start date"
                    }]
                }
            },
            
            {
                key: {
                    text: "How many days a week do you usually work?"
                },
                value: {
                    text: daysPerWeek
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how many days a week do you usually work"
                    }]
                }
            },
            
            {
                key: {
                    text: "How many hours a week do you usually work?"
                },
                value: {
                    text: hoursPerWeek
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how many hours a week do you usually work"
                    }]
                }
            },
            
            {
                key: {
                    text: "Your workplace contact"
                },
                value: {
                    text: workContact
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "your workplace contact"
                    }]
                }
            }
        ]})
    }}

    <!-- Section END -->

    <!-- Section 4: Your personal details -->
    <h2 class="govuk-heading-m">Your personal details</h2>

    {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-0',
        rows: [{
                key: {
                    text: "Name"
                },
                value: {
                    text: data['firstName']+" "+data['lastName']
                },
                actions: {
                    items: [
                    {
                        href: "/apply/contact/personal-details_c",
                        text: "Change",
                        visuallyHiddenText: "name"
                    }]
                }
            },
            
            {
                key: {
                    text: "Date of birth"
                },
                value: {
                    text: data['dob-day']+" "+
                    months[data['dob-month']-1]+" "+
                    data['dob-year']
                },
                actions: {
                    items: [
                    {
                        href: "/apply/contact/personal-details_c",
                        text: "Change",
                        visuallyHiddenText: "date of birth"
                    }]
                }
            },
            
            {
                key: {
                    text: "Address"
                },
                value: {
                    html: (data['your-address-1']+"<br/>"+(data['your-address-2']+"<br/>" if data['your-address-2'])+data['your-address-3']+"<br/>"+data['your-address-4']+"<br/>"+data['your-address-postcode'])
                },
                actions: {
                    items: [
                    {
                        href: "/apply/contact/personal-details_c",
                        text: "Change",
                        visuallyHiddenText: "address"
                    }]
                }
            },
            
            {
                key: {
                    text: "Who can we contact about your application?"
                },
                value: {
                    text: data['whoToContact']
                },
                actions: {
                    items: [
                    {
                        href: "/apply/contact/who-contact",
                        text: "Change",
                        visuallyHiddenText: "who can we contact about your application"
                    }]
                }
            }
        ]})
    }}

    <!-- IF Contact: Me -->
    {% if data['whoToContact'] == "Me" %}
        {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-0',
        rows: [{
                key: {
                    text: "What’s the best way to contact you?"
                },
                value: {
                    text: data['bestWayContact']
                },
                actions: {
                    items: [
                    {
                        href: "/apply/contact/best-way-contact",
                        text: "Change",
                        visuallyHiddenText: "what’s the best way to contact you"
                    }]
                }
            }
        ]})
    }}
        {% if data['bestWayContact'] == "Email" %}
            {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [{
                key: {
                    text: "Your email"
                },
                value: {
                    html: ("<p>"+data['yourEmail-1']+" (main)</p>" if data['yourEmail-1'])+("<p>"+data['yourEmail-2']+" (alternative)</p>" if data['yourEmail-2'])
                },
                actions: {
                    items: [
                    {
                        href: "/apply/contact/email_c",
                        text: "Change",
                        visuallyHiddenText: "your email"
                    }]
                }
            },

            {
                key: {
                    text: "Can we also contact you by a phone call?"
                },
                value: {
                    text: data['optionPhone']
                },
                actions: {
                    items: [
                    {
                        href: "/apply/contact/option-phone",
                        text: "Change",
                        visuallyHiddenText: "can we also contact you by a phone call"
                    }]
                }
            },
            
            ({
                key: {
                    text: "Your phone number"
                },
                value: {
                    html: ("<p>"+data['yourPhone2-1']+" (main)</p>" if data['yourPhone2-1'])+("<p>"+data['yourPhone2-2']+" (alternative)</p>" if data['yourPhone2-2'])
                },
                actions: {
                    items: [
                    {
                        href: "/apply/contact/phone-2_c",
                        text: "Change",
                        visuallyHiddenText: "your phone number"
                    }]
                }
            } if data['optionPhone'] == "Yes")
        ]})
    }}
        {% else %}
            {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [{
                key: {
                    text: "Your phone number"
                },
                value: {
                    html: ("<p>"+data['yourPhone-1']+" (main)</p>" if data['yourPhone-1'])+("<p>"+data['yourPhone-2']+" (alternative)</p>" if data['yourPhone-2'])
                },
                actions: {
                    items: [
                    {
                        href: "/apply/contact/phone_c",
                        text: "Change",
                        visuallyHiddenText: "your phone number"
                    }]
                }
            },
            
            {
                key: {
                    text: "Your email"
                },
                value: {
                    text: (data['yourEmail2-1'] if data['yourEmail2-1'])
                },
                actions: {
                    items: [
                    {
                        href: "/apply/contact/option-email_c",
                        text: "Change",
                        visuallyHiddenText: "your email"
                    }]
                }
            }
        ]})
    }}
        {% endif %}

        <!-- IF Contact: Someone else -->
    {% else %}
        {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [{
                key: {
                    text: "Contact name"
                },
                value: {
                    text: data['contactName']
                },
                actions: {
                    items: [
                    {
                        href: "/apply/contact/representative_c",
                        text: "Change",
                        visuallyHiddenText: "contact name"
                    }]
                }
            },
            
            {
                key: {
                    text: "Relationship with contact"
                },
                value: {
                    text: data['contactRelationship']
                },
                actions: {
                    items: [
                    {
                        href: "/apply/contact/representative_c",
                        text: "Change",
                        visuallyHiddenText: "relationship with contact"
                    }]
                }
            },
            
            {
                key: {
                    text: "Contact phone number"
                },
                value: {
                    html: ("<p>"+data['contactPhone-1']+" (main)</p>" if data['contactPhone-1'])+("<p>"+data['contactPhone-2']+" (alternative)</p>" if data['contactPhone-2'])
                },
                actions: {
                    items: [
                    {
                        href: "/apply/contact/rep-phone_c",
                        text: "Change",
                        visuallyHiddenText: "contact phone number"
                    }]
                }
            },
            
            {
                key: {
                    text: "Contact email"
                },
                value: {
                    html: ("<p>"+data['contactEmail-1']+" (main)</p>" if data['contactEmail-1'])+("<p>"+data['contactEmail-2']+" (alternative)</p>" if data['contactEmail-2'])
                },
                actions: {
                    items: [
                    {
                        href: "/apply/contact/rep-email_c",
                        text: "Change",
                        visuallyHiddenText: "contact email"
                    }]
                }
            }
        ]})
    }}
    {% endif %}

    <!-- Section END -->

    <!-- Answers END -->

    <form action="/apply/contact/declaration" method="post" novalidate="novalidate">
        <input type="hidden" name="answers-checked" value="true"/>

        {{ govukButton({ text: "Continue" }) }}
    </form>
{% endblock %}