{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% set restart = "/" %}
{% set backto = "/apply/contact/personal-details" %}

{% block content_section %}

  <form action="/apply/contact/who-contact-answer" method="post" class="form">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Who can we contact about your application?
          </h1>
        </legend>

        <p>We need to discuss what support you need. We’ll contact you in the next 3 weeks.</p>

        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="f-whoToContact" name="whoToContact" type="radio" value="Me" {{
          checked( "whoToContact", "Me" ) }}>
            <label class="govuk-label govuk-radios__label" for="f-whoToContact">
              Me
            </label>
          </div>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whoToContact-2" name="whoToContact" type="radio" value="Someone else, who can speak for me" {{
          checked( "whoToContact", "Someone else, who can speak for me" ) }}>
              <label class="govuk-label govuk-radios__label" for="whoToContact-2">
                Someone else, who can speak for me
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      {{ govukButton({ text: "Continue" }) }}
    </form>

  {% endblock %}